/* my colors: 
    0C356A, 0174BE, FFC436, FFF0CE
*/

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    box-sizing: border-box;
}

body {        
    font-family: 'Ubuntu', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #0C356A;
    color: #FFC436;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #FFC436;
    text-decoration: none;
}

header,
header h1,
section h2,
section h3,
form button {
    font-family: 'Bungee', sans-serif;
}

input:focus, textarea:focus {
    outline-color: #0174BE;
}

section {
    padding: 16px 8px;
    display: flex;
    color: #0C356A;
}

section .container {
    display: block;
}

section h2,
section h3,
.articles article {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles img {
    width: 100%;
}

.articles article {
    width: 30%;
}

.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto 0 auto;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

.social-links img {
    height: 32px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

img {
    height: 400px;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form button {
    background-color: #0C356A;
    color: #FFC436;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0174BE;
}

form textarea {
    font-family: 'Ubuntu' , sans-serif;
    resize: none;
    height: 80px;
}

footer {
    background-color:#0C356A;
    color: #FFC436;
    padding: 16px 0;
}