* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    background-color: rgb(103, 190, 103);
    border: none;
    color: white;
    font-weight: bold;
}

.container {
    display: block;
    align-items: center;
    margin: 80px auto;
    width: 70%;
}

form {
    margin-top: 24px;
}

form textarea {
    resize: unset;
}

form input,
form button,
form textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 3px;
}