* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body > header {
    background-color: #164863;
    color: #fff;
    padding: 16px 8px;
}

header li {
    display: inline;
}

header li a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 16px 8px;
}

section h2 {
    font-size: 32px;
}

section h2 , .articles article{
    margin-bottom: 16px;
}

.container {
    width: 100%;
    margin: 0 auto 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles img {
    width: 100%;
}

.articles article {
    width: 30%;
}

.articles article a {
    text-decoration: none;
    background-color: aqua;
    padding: 8px;
    display: inline-block;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article h3 {
    margin: 8px 0;
    font-size: 24px;
}

#sports {
    background-color: rgba(66, 125, 157, 10%);
}

#sports .articles article a {
    background-color: #9bbec8;
    color: #164863;    
}

#economy {
    background-color: rgba(67, 85, 133, 60%);
}

#economy .articles article a {
    background-color: #435585;
    color: #F5E8C7;
}

#entertainment {
    background-color: #BE3144;
}

#entertainment .articles article a{
    background-color: #872341;
    color: #22092C;
}

#technology {
    background-color: #FF9209;
}

#technology .articles article a {
    background-color: #FF6C22;
    color: #2B3499;
}